<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="onBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
   Make Booking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-datetime value="2024-04-21T00:00:00" min="2024-01-01T00:00:00" max="2026-05-31T23:59:59"
    displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="selectedDateTime"></ion-datetime>
  </ion-item>
  <ion-button expand="full" [disabled]="!selectedDateTime" (click)="Booking()">Book</ion-button>
</ion-content>
