<mat-toolbar color="primary">
  <span class="title">Change Password</span>
  <span class="spacer"></span>
  <button mat-button class="close-button" (click)="closeModal()">Close</button>
</mat-toolbar>


<form [formGroup]="dataForm" autocomplete="off" novalidate (ngSubmit)="UpdateData(dataForm.value)">
  <div class="form-container">
    <mat-card>
    <mat-form-field appearance="fill" class="custom-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" formControlName="password" class="form-control">
      <div class="col-md-5">
        <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
        <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
    </div>
    </mat-form-field>
    <mat-form-field appearance="fill" class="custom-width">
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" id="confirm" formControlName="confirm" class="form-control">
      
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!dataForm.valid">Save</button>
  </mat-card>
  </div>
</form>

