<section fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-dialog-title- style="display: flex; justify-content: center;">Success message</h1>
  <mat-dialog-content style="display: flex; justify-content: center;">
    <p>Action successfully</p>
  </mat-dialog-content>
  <mat-dialog-actions style="display: flex; justify-content: center;">
    <button
    mat-flat-button
    color="primary"
    matTooltipPosition="above"
    class="m-l-8"
    matTooltipHideDelay="100000"
    
    [mat-dialog-close]="true">OK</button>
  </mat-dialog-actions>
</section>
