<ion-header [translucent]="true">
  <div class="card-header">

    <ul class="contacts">
        <li class="">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="../../assets/icon/account.png" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                </div>
                <div class="user_info">
                    <span>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</span>
                    <p>{{loggedInUser.email}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
</ion-header>

<ion-content [fullscreen]="true">
  <ul class="contacts">
    <li style="cursor: pointer;" [class.active]="item.isActive" *ngFor="let item of users" (click)="openChat(item)" >
        <div class="d-flex bd-highlight">
            <div class="img_cont">
                <img src="../../assets/icon/account.png" class="rounded-circle user_img">
                <span class="online_icon" [class.offline]="!item.isOnline"></span>
            </div>
            <div class="user_info">
                <span>{{item.firstName}} {{item.lastName}}</span>

            </div>
        </div>
    </li>
</ul>

<ion-modal #modal trigger="chat-modal" class="chat-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <!-- Left side: Search bar -->    

        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Done</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>


    <ion-content>

      <div class="card">
        <div class="card-header msg_head ">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="../../assets/icon/account.png" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                </div>
                <div class="user_info">
                    <span>Chat with {{chatUser?.firstName}} {{chatUser?.lastName}}</span>
                </div>
            </div>
        </div>
        <div class="card-body msg_card_body">
            <div *ngFor="let m of displayMessages">
                <div class="messageItem">
                    <section>
                        <i *ngIf="m.type==='recieved'" class="fa fa-ellipsis-h messageListIcon" aria-hidden="true" style="display: none;" id="{{m.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <ul class="dropdown-menu userList" [attr.aria-labelledby]="m.id">
                            <li><a class="dropdown-item mouseCursor" (click)="deleteMessage(m,'DeleteForMe',false)">Remove Only For Me</a></li>
                        </ul>
                    </section>
                    <div class="d-flex justify-content-start mb-4" *ngIf="m.type==='recieved' && !m.isReceiverDeleted">
                        <div class="img_cont_msg">
                            <img src="../../assets/icon/account.png" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            {{m.content}}
                           
                        </div>
                    </div>
                </div>
                <div class="messageItem">
                    <section>
                        <i *ngIf="m.type==='sent'" class="fa fa-ellipsis-h messageListIcon" aria-hidden="true" style="display: none;" id="{{m.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <ul class="dropdown-menu userList" [attr.aria-labelledby]="m.id">
                            <li><a class="dropdown-item mouseCursor" (click)="deleteMessage(m,'DeleteForMe',true)">Remove Only For Me</a></li>
                            <li><a class="dropdown-item mouseCursor" (click)="deleteMessage(m,'DeleteForEveryone',true)">Remove For Everyone</a></li>
                        </ul>
                    </section>

                    <div class="d-flex justify-content-end mb-4" *ngIf="m.type==='sent' && !m.isSenderDeleted">
                        <div class="msg_cotainer_send">
                            {{m.content}}
                            
                        </div>
                        <div class="img_cont_msg">
                            <img src="../../assets/icon/account.png" class="rounded-circle user_img_msg">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="input-group">
              
                <textarea name="" [(ngModel)]="message" class="form-control type_msg" placeholder="Type your message..."></textarea>
                <div class="input-group-append" (click)="SendDirectMessage()">
                    <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                </div>
            </div>
        </div>
    </div>
     
      
    </ion-content>
  </ng-template>
</ion-modal>


</ion-content>
